<% form_tag('/invites/create') do -%>

  <% if @me.nil? %>
  Not yet implemented
  <% else %>
  <div>
    <label for="invite_email">Send Invitation To:</label>
    <%= text_field_tag 'invite_email' %>
    <%= hidden_field_tag 'me_id', @me.id %>
  </div>
  
  <% end %>
  
  <div>
    <%= submit_tag 'Create' %>
  </div>
<% end %>