<h2>Editing me</h2>

<%= error_messages_for :me %>

<% form_for :me, @me, :url => m_me_path(@me), :html => { :method => :put } do %>

  <%= render :partial => 'form' %>
<p><%= submit_tag "Update" %></p>
<% end %>
