  <% if comments.length == 0 %>
      <span>No comments</span>
  <% else %>
    <% comments.each do |c|  %>
      <div>
        <span style="color:#00487D;"><%= h c.user.current_display_name %>:</span> <span><%= h c.message %></span>
      </div>
    <% end %>
  <% end %>
