  <% if comments.length == 0 %>
      <span>No comments</span>
  <% else %>
    <% comments.each do |c|  %>
      <div>
        <span style="color:#00487D;" title="<%= h c.user.default_display_name %> <%= distance_of_time_in_words(Time.now, c.updated_at) %> ago"><%= h c.user.current_display_name %>:</span> <span><%= h c.message %></span>
      </div>
    <% end %>
  <% end %>
