<h2 style="color:#FF9933;">Wow!</h2>
<p><b>Someone wants you to subscribe to their daily me!</b></p>
<p>If you already have an account at <strong>me.projecttruck.net,</strong> click
the link below, sign in, find out who invited you, and accept it if
you think they are worthy of your attention. If you don't have an account yet,
click the link anyway and sign up!</p>
<p>Here's the link: <br />
<a href="<%= @subscribe_url %>" style="text-decoration:none; font-size:large;"><%= @subscribe_url %></a><br />
(If clicking the link doesn't work try copy/pasting it into your browser)
</p>
<p style="font-size:smaller; font-style:italic;">This was a one time email sent by someone you know inviting you to
a site that they think is cool and would make you be cool by association.
<br />
If you don't want to receive requests anymore yell at your friend
because we had little to do with you receiving this invite.</p>
