/* This CSS style sheet was developed by www.studio7designs.com for opensourcetemplates.org ... Please email if you have any questions aran@studio7designs.com  Have fun! */


body{
background:#ffffff url('/images/bg.jpg') top center repeat-x;
margin:10px 10px 0px 10px;
padding:0px;
color:#999999;
font-family:"Trebuchet MS",arial,sans-serif;
font-size:70.5%;
min-width:800px;
}
img{
border:0;
}
#main
{
   min-width:800px;
}
#notice
{
   color:blue;
   text-align:center;
   width:100%;
   margin-bottom:5px;
}
.error
{
   color:red;
}
#me_container
{
   width:100%;
}

#blogtitle{
width:100%;	
margin:0px auto;
padding:0 0 5px 0;
font-size:1.1em;
line-height:1.2em;

}

#small{
positon:relative;
padding-left: 5px;

}

#small2{
positon:relative;
float:right;
margin-top: -15px;

}

#blogtitle a, a:link, a:visited{
color:#b8ce83;
text-decoration:none;
font-weight:600;
}

#blogtitle .normal_text{
   color:#999999 !important;
   font-weight: normal !important;
}

#blogtitle a:hover, a:active{
color:#fff;
text-decoration:none;
}
.meSpacer
{
   height:2px;
   clear:both;
}
div .me
{
   border: solid 1px gray;
   margin-bottom:20px;
   font-size:11px;
   color:gray;
   font-family:sans-serif;
   clear:both;
   background-color:white;
}
div .me img
{
   display: inline;
   float:left;
   text-align: left;
   margin: 0 4px 2px 0;
   padding:0;
}
div .meTitle
{
   
    background-color:#b8ce83;
    width:100%;
    cursor:move;
    clear:both;
}

div .meTitle .options a
{
   
    color:white;
    cursor:pointer;
    font-size:14px;
    text-align:right;
}

div .meTitle h1
{
   font-weight:500;
    font-size:14px;
    color:black;
    margin:0;
    padding:0 0 0 10px;
    float:left;
    width:70%;

}
.meTitle .options
{
    margin:0;
    padding:0 0 0 5px;
    float:right;
    text-align:right;
    width:50px;
}

.optionImage
{
   height:20px !important;
   width:20px !important;
}


div .meBrokeTitle
{
    background-color: red;
    width:100%;
    cursor:move;
    clear:both;
}

div .meBrokeTitle h1
{
   font-weight:500;
    font-size:14px;
    color:white;
    margin:0;
    padding:0 0 0 10px;
    float:left;

}

.meBrokeTitle .broke_options
{
    margin:0;
    padding:0 10px 0 10px;
    float:right;
}

div .meBrokeTitle .broke_options a
{
   
    color:white;
    cursor:pointer;
    font-size:14px;

}

div .mebody
{
   clear:both;
   text-align:left;
}
div .mebody p{
   padding-top:3px;
   padding-bottom:0;
}
div .mebody p .title{
 font-weight:bold;
 display:block;
}

div .me h2
{
    margin:0;
    padding:0 0 0 10px;
    font-weight:400;
    font-size:1.4em;
    color:gray;
    display:inline;
}

.dropAreaActive
{
   height:50px;
   border: dashed 1px gray;
   background-color:blue;
}
.dropArea
{
   height:30px;
   border: 0;
   
}

.dragover {}

UL.BLUE {
list-style: url(images/bullet.jpg) disc;
font-size: 1.1em;

}

a, a:link, a:visited {
color:#669416;
text-decoration:none;
font-weight:600;
}

a:hover, a:active{ color:#FF6666;}

#leftcontent {
float:left;
width:32%;
margin-top:0;
padding: 5px;

}


#centercontent {
margin-top: 0;
padding: 5px;
float:left;
width:32%;

}


#rightcontent {
float:left;
width:32%;
margin-top:0;
padding: 5px;

}

html>body #centercontent {
margin-top: 0;
padding: 5px;

}

.centercontentleft {float:left; width:40%; height:200px; background-color:#fff; text-align:left;
border:dashed 2px #ccc; margin: 4px 10px 5px 10px; padding:6px; }

.centercontentright {float:right; width:30%; height:100px; background-color:#fff; text-align:left;
border:dashed 2px #ccc; margin: 4px 10px 5px 10px; padding:6px; }

.indent
{
   margin-left:20px;
}









p,h1,pre {
margin:0px 10px 3px 10px;
font:Arial Helvetica sans-serif;
text-align:justify;
text-decoration:none;
}

h1 {
font-size:2.5em;
color:#ccc;

}

h3 {
font-size:14px;
color:#999;

}

#banner h1 {
font-size:14px;
padding:10px 10px 0px 10px;
margin:0px;

}

#rightcontent p {
font-size:11px

}

.introduction ul, #introduction li {
text-align:center;
list-style: none;
margin: 0;
padding: 0;

}

.introduction a {
border-bottom: none;
color:#999999;
}

.introduction h3{
text-align: center;
position:static;

}

.editSelect
{
   margin: 10px;
}

#formElements div label
{
   float:left;
   width:100px;
   text-align:right;
   margin-right:5px;
   
}
#formElements div
{

   margin-bottom:5px;
   
}

#formElements input[type="submit"]{

   
   margin-left:120px;
   
}

input[type="submit"]
{
   margin-top:5px;
   margin-bottom:5px;
}
/* ~~~~~~~~~ BEGIN FOOTER ~~~~~~~~~ */

#footer{
height:329px;
background:#000 url('images/bg.jpg') top center repeat-x;
text-align: center;
padding-top: 8px;
clear: both;
float: none;
margin-left: -10px;
margin-right: -10px;
margin-bottom: -20px;

}


/* ~~~~~~~~~ END FOOTER~~~~~~~~~ */


