  <div>
    <label for="user_password">Password</label><br />
    <%= password_field :user, :password %>
  </div>
  
  <div>
    <label for="user_password_confirmation">Password Confirmation</label><br />
    <%= password_field :user, :password_confirmation %>
  </div>