<h1>Update Profile</h1>
<div class="indent">
<span class="error"><%= error_messages_for :user %></span>

<% form_for(@user) do %>

<%= render :partial => 'form' %>
  
  <div>
    <%= submit_tag "Update" %>
  </div>

<% end %>
</div>
