<div style="clear:both;width:100%;text-align:center;">
	<div style="margin-top:5px;">
		<%= link_to '<img src="/images/rss.jpg" />', formatted_subscriptions_path(:format => 'rss', :user => User.find(session['user_id']).login, :pass => User.find(session['user_id']).hashed_password) %>
	</div>
	<div style="margin-top:5px;">
		<a href="http://www.netvibes.com/subscribe.php?uwa=http%3A//me.projecttruck.net/widget/mes_widget.html" 
			target="_blank"><img src="/images/uwa-netvibes.png" border="none" width="91" height="17" alt="Add to Netvibes"  /></a>
	</div>
	<div style="margin-top:5px;">
		<a href="http://www.google.com/ig/add?moduleurl=http%3A%2F%2Fwww.netvibes.com%2Fapi%2Fuwa%2Fcompile%2Fgoogle.php%3FmoduleUrl%3Dhttp%253A%252F%252Fme.projecttruck.net%252Fwidget%252Fmes_widget.html">
		<img src="/images/uwa-google.png"/></a>
	</div>
</div>
