<%content_for :menu do%>
	<%=render :partial => 'shared/menu'%>
<%end%>

<h1>Editing me</h1>
<% form_for(@me) do %>
	<div id="formLeftContainer">
		<%=render :partial => 'form_left'%>
	</div>
	<div id="formMainContainer">
		<%= error_messages_for :me, :header_message => "Sorry!", :message => "There was a problem saving your ME" %>
		<%= render :partial => 'form' %>
	</div>
<% end %>
