  <span id="comments_label">Comments (<%= me.comments.count %>)</span>
  <div>
    <div>
        <%= render :partial => 'comments/comment_list', :locals => { :comments => me.comments } %>
    </div>
    <div>
		<% form_for :comment, @comment, :url => m_me_comments_path(me, :page => params[:page]) do %>
			<div><%= text_area :comment, "message", :size => "20x2" %></div>
			<%= submit_tag("Add") %>
		<% end %>    
    </div>
	</div>
